datasets
inseq @ git+https://github.com/inseq-team/inseq.git@main
numpy
pandas
strenum
tqdm
black
pytest
ruff
simalign==0.3
sacrebleu==2.3.1
scikit-learn==1.2.2
sentencepiece==0.1.99
stanza==1.5.0
torch==2.0.1
transformers==4.28.1
unbabel-comet==2.0.1